<%= link_to 'Jobmatrix', fields_path, class: "btn btn-primary btn-lg btn-block" %>
<!--
<a href="#" class="btn btn-primary btn-lg btn-block">勤怠申請（作成中）</a>
<a href="#" class="btn btn-primary btn-lg btn-block">月次書類（作成中）</a>
<a href="#" class="btn btn-primary btn-lg btn-block">週報、ヒアリングレポート（作成中）</a>
<a href="#" class="btn btn-primary btn-lg btn-block">営業システム（作成中）</a>
<a href="#" class="btn btn-primary btn-lg btn-block">質問コーナー（作成中）</a>
<a href="#" class="btn btn-primary btn-lg btn-block">契約管理（作成中）</a>
<a href="#" class="btn btn-primary btn-lg btn-block">請求管理（作成中）</a>
-->
